<!DOCTYPE html>
<html>
<head>
    <title>Event Details</title>
	<meta charset="utf-8" />
	<link href="../static/css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/Home.css">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
	
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>

<body style="background-image:url('../static/images/background.jpg')">
	

	<div class="topnav">
		<a href="http://localhost:8888/Home" style="margin-left:25%">My Events</a>
		<a href="http://localhost:8888/CreateEvent" >Create Event</a>
		<a href="http://localhost:8888/InvitedEvents">Invited Events</a>
		<a href="http://localhost:8888/RSVPd">RSVPd Events</a>
        <a href="http://localhost:8888/EventDetails/logout">Log Out</a>
    </div>
	
	<!-- content -->

</body>
</html>
